
.main-browser {
    position: relative;
    display: flex;
    // width: 90%;
    height:81vh;
    background-color:  rgba(226, 226, 226, 0.363);
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    flex-wrap: wrap;
    border: 1px solid rgba(211, 211, 211, 0.637);
    // padding-top: 2%;
    // margin-bottom: 2%;
 
    &__directory-path {
        // position: absolute;
        // top: 1%;
        // width:100%;
        display: flex;
        background-color: map-get($COLOR-PALETTE, font3 );
        // padding: 1%;
        // width:90%;
        border-radius: 7px 7px 0px 0px;
        border: 2px solid rgba(211, 211, 211, 0.637);
        margin: 0 auto;
        
        & button {
            margin:1%;
            margin-right: 2%;
            color: white;
            background-color: map-get($COLOR_PALETTE, font4);
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                opacity: 0.6;
            }
        }

        & span {
            margin:1%;
            background-color: white;
            padding:1%;
            width:70%;
            text-align: left;
            overflow:hidden;
        }
    }    
  

    @include tablet-design {
       padding-top: 4%
    }

    @include mobile-design {
        padding-top: 8%;
     }

}