
.main-browser {
    position: relative;
    display: flex;
    width: 90%;
    height:670px;
    background-color: map-get($COLOR_PALETTE, bg);
    margin: 1% auto;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    flex-wrap: wrap;
    padding-top: 2%;
    margin-bottom: 2%;
  

    @include tablet-design {
       padding-top: 4%
    }

    @include mobile-design {
        padding-top: 8%;
     }

    &__directory_path {
        position: absolute;
        top: 1%;
        width:100%;

        & i {
            margin-right: 2%;
            color: map-get($COLOR_PALETTE, font4);
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}