
.main-home-informations {
    width: 50%;
    margin: 0 auto;
    
    @include tablet-design {
        width: 90%;
    }
    
    &__info-box {
        margin: 40px;
        padding: 5%;
        border-radius: 20px;
        border: 1px solid map-get($COLOR_PALETTE, bg);
        @include small-shadow;

        & div {
            display: flex;
            justify-content: center;
            align-items: center;
            
            & form {
                margin:1%;

            }

        }

        & img {
            border-radius: 10px;
        }

        & h2 {
            color: map-get($COLOR_PALETTE, font3 )
        }

        & a {
            color: map-get($COLOR_PALETTE, font3 );
        }
    }

    &__button-box {
        display: flex;
        justify-content: space-evenly;

        @include tablet-design {
            display:block;
        }
    }
}