
.main-image-box {
    display: flex;
    justify-content:center;
    width:100%;
    max-width: $max-screen-resolution;
    // margin-top: 11vh;
    // max-height: 80%;
    min-height: 80%;
    height: 89vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border: 1px solid map-get($COLOR-PALETTE, font3);
    
    @include tablet-design {
        top: 36%;
        // width: 95%;
    }

    @include small-shadow;


    
    &__images-count {
        position: fixed;
        background-color: map-get($COLOR_PALETTE, font3);
        top:1%;
        border-radius: 5px;
        z-index: 10;
        padding: 2px;
    }

    &__filename {
        position: fixed;
        // left: 50%;
        // transform: translate(0, -50%);
        bottom: 1%;



    }

    &__image-container {
        // overflow: scroll;
        width: 90%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: lightgray;
        
        & img {
            object-fit: contain;
            max-width:100%;
            max-height: 100%;
            // width: 100%;
            // margin: 2%;
            // height: 100%; 
            transition: transform .5s;
            z-index: 0;
    
    
            @include tablet-design {
                max-width: 80%;
                max-height: 550px;
            }
    
            @include mobile-design {
                max-width: 70%;
    
                max-height: 350px;
            }
            // margin: 0 auto;
            // height:50%;
        }
    }

}