
.main-image-box {
    display: flex;
    justify-content:center;
    width:90%;
    max-height: 815px;
    min-height: 815px;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 30;
    background-color: rgb(255, 255, 255);
    align-items: center;
    
    @include tablet-design {
        top: 40%;
    }

    @include small-shadow;
    
    &__images-count {
        position: absolute;
        background-color: map-get($COLOR_PALETTE, font3);
        top:0%;
    }

    & img {
        max-width:90%;
        max-height: 770px;
        margin: 2%;

        @include tablet-design {
            max-width: 80%;
            max-height: 550px;
        }

        @include mobile-design {
            max-width: 70%;

            max-height: 350px;
        }
        // margin: 0 auto;
        // height:50%;
    }
}