
.nav-bar {
     position: fixed;
     top: 0;
     left:0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     color: map-get($COLOR-PALETTE, ter );
     background-color: map-get($COLOR-PALETTE, sec);
     opacity: .95;
     z-index: 90;
     width: 100%;
     box-shadow: 0px 10px 20px 5px rgba(211, 211, 211, 0.534);
     height: 6vh;


    @include wide-screen-design {

        // width: $max-width-screen;
        left:0;
        right:0%;
        margin: 0 auto;
    }


     @include border-bottom-default;

    &__logo-box {
        width: 160px;
        margin-left: 2%;

        &:hover {
            opacity: 0.7;
        }
    }
     
     &__logo {
         color: map-get($COLOR-PALETTE, font );
         text-decoration: none;
         width:100%;
    }
    
    &__button-box {
        margin:20px;
        display: flex;
        
    }

}