

 
 .zoom {
     background-color: map-get($COLOR_PALETTE, font4 );
     color: white;
     cursor: pointer;
     border-radius: 5px;
     height: 31px;
    font-weight: bold;
    width: 30%;
    opacity: 1;

    @include tablet-design {
        display:none;
    }

    &:hover {
        opacity: 0.6;
    }
    
    &:disabled {
        background-color: map-get($COLOR_PALETTE, font3 );
        opacity: 1;
        cursor: default;


    }
    &--in {
        // top: 0.7%;
        // left: 15%;
        @include tablet-design {
            // left: 24%;
        }
    } 

    &--out {
        // top: 0.7%;
        // left:2%;
    }

    &-magnify-glass {
        padding-left:2%;

        &--active {
            background-color: map-get($COLOR_PALETTE, font3 );
        }
     }
}
