
 .zoom {
    background-color: map-get($COLOR_PALETTE, font4 );
    color: white;
    position: absolute;
    cursor: pointer;
    border-radius: 5px;
    height: 35px;
    width:3%;

    @include tablet-design {
        width:10%;
    }

    &:hover {
        opacity: 0.6;
    }

    &--in {
        top: 1%;
        left:7%;
        @include tablet-design {
            left:15%;
        }
    } 

    &--out {
        top: 1%;
        left:2%;
    }
 }
 