
.button-base {
    transform: scale(1);
    transition-property: transform;
    transition-duration: 200ms;
    cursor: pointer;
    border: 0;
    

    &:hover {
        transform: scale(1.01);
        opacity: 0.9;
    }
}


.nav-button-base {
    border: 3px solid map-get($COLOR_PALETTE, font3);
    color: darken(map-get($COLOR_PALETTE, font3), 10%);
    font-weight: bold;
    border-radius: 15px;
    margin-left: 20px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;

    @include mobile-design {
        // height: 100%;
        font-size: 0.7em;
     }

    &--home {
        margin-left: 0;
        margin: 2%;
    }

    &:hover {
        opacity: 0.7;

    }
}



.button-upload {
    margin: 2%;
    margin-top:20px;
    margin-bottom:0;
    background-color: map-get($COLOR_PALETTE, success);
    color: map-get($COLOR_PALETTE, bg);
    width: 20%;
    height:80px;
    border-radius: 30px;
    font-size: 2em;

    @include mobile-design {
        font-size: 1em;
        width: 25%;
        height:50px;

    }
}

.button-reset {
    width: 5%;
    height:50px;
    background-color: map-get($COLOR-PALETTE, error);
    color: map-get($COLOR_PALETTE, bg);
    border-radius: 15px;

    @include tablet-design {
        width: 15%;
        height:45px;

    }
}

.button-home {
    position: relative;
    margin: 2%;
    background-color: map-get($COLOR_PALETTE, font4);
    color: white;
    width: 300px;
    height:80px;
    border-radius: 30px;
    font-size: 1.5EM;
    border: 0;

    @include tablet-design {
        display:none;
    }
}

.button-browser {
    width: 4%;

    @include mobile-design{
        width: 10%;   
    }
}

.image-box-arrow {
    position: absolute;
    color: map-get($COLOR_PALETTE, font4);
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }

    &--left {
        left: 1%
    }

    &--right {
        right: 1%
    }
}


