
.page-top-margin {
    margin: 0 auto;
    margin-top: 10vh;

}

.image-box-top-margin {
    margin-top: 135px;

    @include mobile-design {
        margin-top: 150px;
    }
}

.nav-bar-height {
    height: 70px;
}