@keyframes appear-slowly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes levitate {
  0% {
    opacity: 1;
    transform: translateY(10px);
  }
  100% {
    opacity: 0.8;
    transform: translateY(-10px);
  }
}
body {
  overflow-y: scroll;
}

html {
  background-color: #01040a;
  font-family: "Roboto", sans-serif;
}

.button-base {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  cursor: pointer;
  border: 0;
}
.button-base:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.nav-button-base {
  border: none;
  background-color: transparent;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 20px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  z-index: 10;
  color: #c9d1d9;
  border: 2px solid #1c2327;
}
@media screen and (max-width: 768px) {
  .nav-button-base {
    font-size: 0.7em;
  }
}
.nav-button-base i {
  margin-right: 5px;
}
.nav-button-base--home {
  margin-left: 0;
  border-radius: 7px;
  padding: 5%;
}
.nav-button-base--colored {
  background-color: #238636;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-button-base--colored i {
  margin: 0px;
  font-size: 1.2em;
}
.nav-button-base:hover {
  opacity: 0.7;
}

.button-upload {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #238636;
  color: white;
  min-width: 250px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3em;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .button-upload {
    font-size: 1em;
    width: 25%;
    height: 50px;
  }
}

.button-reset {
  width: 5%;
  height: 30px;
  position: absolute;
  right: 1%;
  top: 1%;
  color: #751b1b;
  background-color: transparent;
  border-radius: 15px;
}
@media screen and (max-width: 1200px) {
  .button-reset {
    width: 15%;
    height: 45px;
  }
}

.button-home {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #238636;
  color: white;
  min-width: 250px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3em;
  border: 0;
}
.button-home i {
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .button-home {
    min-width: 100px;
    font-size: 0.75em;
  }
}

.button-browser {
  background-color: transparent;
  margin: 0px;
}
.button-browser i {
  font-size: 1.5em;
  color: #c9d1d9;
}

.image-box-arrow {
  position: absolute;
  color: #c9d1d9;
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 50;
}
.image-box-arrow:hover {
  opacity: 0.8;
}
.image-box-arrow--left {
  left: 1%;
}
.image-box-arrow--right {
  right: 1%;
}

.page-top-margin {
  margin: 0 auto;
  margin-top: 90px;
}

.image-box-top-margin {
  margin-top: 3vh;
}
@media screen and (max-width: 1200px) {
  .image-box-top-margin {
    margin-top: 12vh;
  }
}

.nav-bar-height {
  height: 10vh;
}

.page-title {
  color: #c9d1d9;
  font-size: 1.2em;
  padding-left: 10px;
}
@media screen and (max-width: 1200px) {
  .page-title {
    font-size: 1em;
  }
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  width: 98%;
}
@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

.sub-container {
  width: 100%;
}

.sub-container2 {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #1c2327;
  border-radius: 10px;
}

.max-width-container {
  max-width: 1000px;
}

.modal-container {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0%;
  top: 0%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #fffdfd;
  /* Black w/ opacity */
  opacity: 0.9;
  backdrop-filter: blur(10px);
}

.popup-container {
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 50%;
  top: 50%;
  width: 60%;
  /* Full width */
  height: 45%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: white;
  /* Black w/ opacity */
  opacity: 1;
  transform: translate(-50%, -50%);
  border: 7px solid #751b1b;
  box-shadow: 5px 5px 15px 5px black;
}
.popup-container div {
  display: relative;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 95%;
}
.popup-container div i {
  padding: 4%;
  color: #751b1b;
}
.popup-container div p {
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1.5em;
}
@media screen and (max-width: 1200px) {
  .popup-container div p {
    font-size: 1.2em;
  }
}
.popup-container div p:first-child {
  color: #751b1b;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0.7%;
  left: 2%;
  width: 30%;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-background-container {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  opacity: 0.1;
  object-fit: cover;
}

.App {
  margin: 0 auto;
  text-align: center;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0d1117;
  background-color: #161b22;
  opacity: 0.95;
  z-index: 90;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid #1c2327;
}
@media screen and (min-width: 1400px) {
  .nav-bar {
    left: 0;
    right: 0%;
    margin: 0 auto;
  }
}
.nav-bar__logo-box {
  width: 130px;
  margin-left: 2%;
}
.nav-bar__logo-box:hover {
  opacity: 0.7;
}
.nav-bar__logo {
  color: #c9d1d9;
  text-decoration: none;
  width: 100%;
}
.nav-bar__button-box {
  margin: 20px;
  display: flex;
}

.close-menu-cross {
  color: #c9d1d9;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.close-menu-cross:hover {
  opacity: 0.6;
}

.error {
  color: #751b1b;
}

.success {
  color: #42be42;
}

.main-image-upload {
  background-color: #0d1117;
  height: 78vh;
}
.main-image-upload__previews {
  height: 45%;
  background-color: #1c2327;
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 3%;
  overflow-y: scroll;
  border-radius: 30px;
}
.main-image-upload__previews__title {
  font-size: 0.8em;
  color: #c9d1d9;
}
.main-image-upload__previews__box {
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
}
.main-image-upload__previews__box__element {
  flex-basis: 20%;
  overflow-y: hidden;
  position: relative;
}
.main-image-upload__previews__box__element__response {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 50px;
  /* Need a specific value to work */
}
.main-image-upload__previews__box__element img {
  width: 50%;
  max-height: 100px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .main-image-upload__previews__box__element img {
    width: 90%;
  }
}
.main-image-upload__previews__box__element img:hover {
  transform: scale(1.01);
  opacity: 0.9;
}
.main-image-upload__form-group {
  padding: 2%;
  width: 80%;
  position: relative;
  font-size: 18px;
  margin: 0 auto;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 300ms;
}
.main-image-upload__form-group:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
.main-image-upload__form-group label {
  border: 3px dashed #c9d1d9;
  background-color: #1c2327;
  width: 100%;
  height: 20vh;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c9d1d9;
  border-radius: 30px;
  margin-top: 20px;
}
.main-image-upload__form-group label i {
  margin-right: 2%;
}
.main-image-upload__form-group__form-control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.main-image-upload__feedback {
  margin: 0;
  padding: 0;
}
.main-image-upload__feedback span {
  font-size: 0.8em;
}
.main-image-upload__feedback span:first-child {
  margin-right: 30px;
}
.main-image-upload__feedback span i {
  font-size: 1em;
}

.main-image-box {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  min-height: 80%;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.885);
  align-items: center;
  animation: appear-slowly 200ms linear;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.144);
}
.main-image-box__images-count {
  position: fixed;
  background-color: #1c2327;
  color: #c9d1d9;
  left: 10px;
  bottom: 9%;
  border-radius: 5px;
  z-index: 10;
  padding: 5px;
  font-weight: bold;
}
.main-image-box__filename {
  position: absolute;
  right: 10px;
  bottom: 7%;
  height: 20px;
  z-index: 50;
  border: 1px solid #0d1117;
  background-color: #1c2327;
  color: #c9d1d9;
  border-radius: 10px;
  padding: 5px;
}
.main-image-box__image-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
}
.main-image-box__image-container img {
  object-fit: contain;
  max-width: 100%;
  max-height: 96%;
  transition: transform 0.5s;
  z-index: 0;
}
@media screen and (max-width: 1200px) {
  .main-image-box__image-container img {
    max-width: 80%;
    max-height: 550px;
  }
}
@media screen and (max-width: 768px) {
  .main-image-box__image-container img {
    max-width: 70%;
    max-height: 350px;
  }
}

.main-home-informations {
  width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid #1c2327;
}
.main-home-informations__screenshot_title {
  color: #232323;
  border-radius: 20px;
  border: 1px solid grey;
  padding: 10px;
  background-color: white;
  position: absolute;
  opacity: 0.85;
  bottom: 5%;
  left: 50%;
  border: 3px solid #3c73b2;
  color: #152940;
  transform: translate(-50%);
}
.main-home-informations__screenshot_title:hover {
  transition: all 300ms linear;
  opacity: 1;
  color: #152940;
  cursor: pointer;
}
@media screen and (max-height: 800px) {
  .main-home-informations__screenshot_title {
    display: none;
  }
}
.main-home-informations__roll {
  background-color: black;
  color: #b85f33;
  font-weight: bold;
  padding: 10px;
  left: 50%;
  transform: translate(-50%);
  min-width: 200px;
  opacity: 0.85;
  border-radius: 10px;
  border: 1px solid white;
}
.main-home-informations__button {
  left: 50%;
  min-width: 220px;
  font-weight: bold;
  transform: translate(-50%);
  color: #1c3553;
  margin: 0 auto;
  font-size: 1.1em;
}
.main-home-informations__button:hover {
  transition: all 300ms linear;
  background-color: rgba(255, 255, 255, 0.507);
  color: #0f1d2d;
}
.main-home-informations__home-banner {
  text-align: left;
  opacity: 0.9;
  padding-left: 2%;
  padding-right: 2%;
  border: 1px solid #1c2327;
  position: relative;
  background-color: white;
  padding-bottom: 30px;
  color: #c9d1d9;
  background-color: #161b22;
  margin-top: 70px;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
  .main-home-informations__home-banner {
    position: relative;
  }
}
@media screen and (max-width: 1200px) {
  .main-home-informations__home-banner__close {
    opacity: 0;
  }
}
.main-home-informations__home-banner__version {
  display: flex;
  width: 280px;
  align-items: center;
  font-size: 0.6em;
  font-weight: 600;
  border: 1px solid #1c2327;
  background-color: rgba(0, 0, 0, 0.569);
  padding: 7px;
  border-radius: 20px 10px 10px 20px;
}
.main-home-informations__home-banner__icon {
  width: 20px;
  margin-right: 10px;
}
.main-home-informations__home-banner__angle {
  position: absolute;
  bottom: 7%;
  left: 48%;
  font-size: 5em;
  animation: levitate 2s alternate-reverse infinite;
}
.main-home-informations__home-banner__cover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
  overflow: hidden;
}
.main-home-informations__home-banner__description-box {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: rgba(0, 0, 0, 0.569);
  max-width: 600px;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.main-home-informations__home-banner__description-box a {
  text-decoration: none;
}
.main-home-informations__home-banner h1 {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 30px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 3.5em;
}
.main-home-informations__home-banner h2 {
  margin-top: 0px;
  font-size: 1.2em;
}
.main-home-informations__home-banner a {
  color: #3c73b2;
}
.main-home-informations__home-banner p {
  font-size: 18px;
  font-weight: 500;
  max-width: 600px;
  padding-right: 30px;
}
.main-home-informations__check-sentence i {
  margin-right: 10px;
  font-size: 1.5em;
  color: #238636;
}
.main-home-informations__button-box {
  display: flex;
  justify-content: left;
}
@media screen and (max-width: 1200px) {
  .main-home-informations__button-box {
    display: relative;
  }
}

.main-browser {
  position: relative;
  display: flex;
  height: 82vh;
  background-color: #0d1117;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  flex-wrap: wrap;
  border: 1px solid #1c2327;
  border-radius: 0px 0px 10px 10px;
}
.main-browser__directory-path {
  display: flex;
  background-color: #0d1117;
  color: #c9d1d9;
  border-radius: 7px 7px 0px 0px;
  border: 1px solid #1c2327;
  margin: 0 auto;
  padding-left: 20px;
}
.main-browser__directory-path button {
  margin-right: 20px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.main-browser__directory-path button:hover {
  opacity: 0.6;
}
.main-browser__directory-path span {
  margin: 10px;
  background-color: #1c2327;
  padding: 10px;
  padding-left: 10px;
  min-height: 20px;
  width: 70%;
  text-align: left;
  overflow: hidden;
}
.main-browser__no-results {
  font-size: 1.6em;
  color: #c9d1d9;
}

.main-browser-element {
  margin: 2%;
  display: block;
  cursor: pointer;
  flex-basis: 20%;
  transition-property: transform;
  transition-duration: 200ms;
  max-width: 20%;
  color: #c9d1d9;
}
@media screen and (max-width: 1200px) {
  .main-browser-element {
    flex-basis: 20%;
  }
}
@media screen and (max-width: 768px) {
  .main-browser-element {
    flex-basis: 80%;
    max-width: 80%;
  }
}
.main-browser-element:hover {
  transform: scale(1.03);
  opacity: 0.9;
}
.main-browser-element img {
  width: 80%;
  max-width: 200px;
}
.main-browser-element p {
  margin-top: 0;
  overflow: hidden;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ring div {
  background-color: #3c73b2;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 10px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #161b22 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.zoom {
  background-color: #238636;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 31px;
  font-weight: bold;
  width: 30%;
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  .zoom {
    display: none;
  }
}
.zoom:hover {
  opacity: 0.6;
}
.zoom:disabled {
  background-color: #3c73b2;
  opacity: 1;
  cursor: default;
}
.zoom-magnify-glass {
  padding-left: 2%;
}
.zoom-magnify-glass--active {
  background-color: #3c73b2;
}

.random-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1400px;
  background-color: #0d1117;
}
.random-box__title {
  color: #c9d1d9;
  background-color: #0d1117;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 30px;
}
.random-box__image {
  width: 95%;
  height: 85vh;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
  border-radius: 20px;
  object-fit: cover;
  top: 0;
  left: 0;
  transform: none;
}
@media screen and (max-width: 1200px) {
  .random-box__image {
    height: 500px;
  }
}
.random-box__roll-box {
  display: flex;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.489);
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
}
.random-box__roll {
  background-color: black;
  color: #b85f33;
  font-weight: bold;
  padding: 8px 4px;
  opacity: 0.55;
  border-radius: 10px;
  border: 1px solid #1c2327;
  min-width: 220px;
  font-size: 0.8em;
}
.random-box__button {
  min-width: 100px;
  font-weight: bold;
  color: #c9d1d9;
  background-color: #238636;
  border: 1px solid #1c2327;
  margin: 0 auto;
  font-size: 0.9em;
  margin-left: 10px;
  margin-right: 20px;
  opacity: 0.75;
}
@media screen and (max-width: 768px) {
  .random-box__button {
    min-width: auto;
  }
}

.info-box {
  margin-bottom: 40px;
  text-align: left;
  opacity: 0.9;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
  border: 1px solid #1c2327;
  position: relative;
  background-color: white;
  padding-bottom: 30px;
  color: #c9d1d9;
  background-color: #161b22;
}
@media screen and (max-width: 1200px) {
  .info-box {
    position: relative;
    margin-bottom: 5%;
  }
}
.info-box__icon {
  position: absolute;
  top: 1.5%;
  right: 1.5%;
  padding: 10px;
  background-color: #1c2327;
  border-radius: 10px;
  font-size: 1.5em;
  border: 1px solid #1c2327;
}
@media screen and (max-width: 1200px) {
  .info-box__close {
    opacity: 0;
  }
}
.info-box div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-box div form {
  margin: 1%;
}
.info-box img {
  border-radius: 10px;
  margin-top: 30px;
}
.info-box h1 {
  background-color: #161b22;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  margin-bottom: 30px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  border-bottom: 1px solid #1c2327;
}
.info-box a {
  color: #3c73b2;
}
.info-box p {
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.home-cards {
  width: 100%;
  background-color: #161b22;
  right: 5%;
  border-bottom: 2px solid #1c2327;
  border-top: 2px solid #1c2327;
}
.home-cards__title {
  color: #c9d1d9;
  padding-top: 50px;
  margin-top: 0px;
}
.home-cards__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.link-card {
  flex-basis: 290px;
  background-color: #0d1117;
  padding: 20px;
  color: #c9d1d9;
  border: 1px solid #1c2327;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 10px;
  text-decoration: none;
}
.link-card h3 {
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
}
.link-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.footer {
  font-size: 0.58em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer img {
  height: 14px;
  margin-bottom: 3px;
}
.footer p {
  color: #c9d1d9;
}
.footer p span {
  font-size: 0.9em;
}
.footer p a {
  color: #3c73b2;
  text-decoration: none;
}

.footer-hidden + footer {
  height: 0px;
  position: absolute;
  visibility: hidden;
  z-index: -1;
}

.tag-container {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 50;
  padding: 5px;
  color: #c9d1d9;
  font-weight: bold;
  border-radius: 10px;
  width: 93%;
  text-align: left;
  padding: 2px;
  display: flex;
  align-items: center;
}
.tag-container__tags {
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
}
.tag-container__tags::-webkit-scrollbar {
  display: none;
}
.tag-container__selector {
  background-color: #238636;
  font-size: 1em;
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  color: #c9d1d9;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transform: rotate(0deg);
  transition: all 300ms;
}
.tag-container__selector__icon--reverse {
  transition: all 300ms;
  transform: rotate(180deg);
}
.tag-container__selector i {
  font-size: 1.5em;
  margin-right: 10px;
}

.tag-element {
  background-color: #1c2327;
  padding: 2px 10px;
  border-radius: 7px;
  margin-left: 2px;
  margin-right: 2px;
  font-size: 0.7em;
  border: 1px solid #161b22;
  color: #c9d1d9;
}
.tag-element--green {
  background-color: #238636;
}

.tag-ui {
  position: absolute;
  left: 0px;
  top: 40px;
  background-color: #0d1117;
  width: 350px;
  height: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #1c2327;
}
.tag-ui__user-permission {
  position: absolute;
  color: #3c73b2;
  right: 10px;
  top: -3%;
  cursor: default;
}
.tag-ui__label {
  padding: 10px;
  padding-left: 0px;
  margin: 0;
  font-size: 0.7em;
}
.tag-ui__search {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}
.tag-ui__search__bar {
  display: flex;
}
.tag-ui__search input {
  height: 30px;
  color: #c9d1d9;
  padding: 10px;
  background-color: #1c2327;
  border: 1px #01040a;
  border-radius: 5px 0px 0px 5px;
}
.tag-ui__search input:focus {
  outline: none;
}
.tag-ui__search__submit {
  height: 28px;
  border-radius: 0px 5px 5px 0px;
  font-size: 0.8em;
  font-weight: bold;
  border: 1px #01040a;
  background-color: #238636;
  color: #c9d1d9;
}
.tag-ui__search__submit i {
  font-size: 0.9em;
  margin-right: 5px;
}
.tag-ui__tags {
  flex-wrap: wrap;
  overflow: scroll;
  height: 170px;
}
.tag-ui__tags button {
  margin-bottom: 10px;
}

.login {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #0d1117;
  border-radius: 10px;
  border: 1px solid #1c2327;
}
.login p {
  border: 1px solid #1c2327;
  padding: 10px;
  line-height: 1.3em;
  max-width: 210px;
  border-radius: 10px;
  margin: 20px auto;
  margin-top: 0px;
}
.login p a {
  color: #3c73b2;
}
.login__forget {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
.login__forget input {
  background-color: #1c2327;
  border: 1px solid #161b22;
  color: #c9d1d9;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 0.9em;
}
.login__forget input:focus {
  outline: none;
}
.login__forget label {
  position: absolute;
  visibility: hidden;
}
.login__forget button {
  width: 30px;
  height: 20px;
  position: absolute;
  right: -5%;
  background-color: #238636;
  color: white;
  border-radius: 5px;
  border: none;
  border-radius: 0px 10px 10px 0px;
}
.login span {
  font-size: 0.7em;
  margin-left: 10px;
}
.login span button {
  margin-left: 10px;
  border: 1px solid #3c73b2;
  color: #3c73b2;
  background-color: transparent;
  border-radius: 10px;
  padding: 3px;
}
.login a {
  font-weight: bold;
  text-decoration: none;
}
.login h1 {
  margin: 0px;
  margin-bottom: 20px;
}
.login h1 i {
  padding-right: 15px;
}
.login div {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login form label {
  text-align: left;
  font-size: 0.7em;
}
.login form div {
  max-width: 250px;
  margin-bottom: 20px;
}
.login form div input {
  background-color: #1c2327;
  border: 1px solid #161b22;
  color: #c9d1d9;
  margin-top: 10px;
  height: 40px;
  width: 100%;
}
.login form button {
  margin-top: 10px;
  margin-right: 0px;
  text-align: center;
}

.tag-selector {
  position: relative;
  display: flex;
  align-items: center;
}
.tag-selector__icon {
  display: flex;
  align-items: center;
  color: #3c73b2;
  font-weight: bold;
  background-color: #1c2327;
  padding-left: 15px;
}
.tag-selector__search {
  margin: 10px;
  margin-right: 0px;
  display: flex;
  align-items: center;
  text-align: left;
  overflow: hidden;
}
.tag-selector__search form {
  display: flex;
}
.tag-selector__search__bar {
  padding-left: 10px;
  padding: 10px;
  border: None;
  color: #c9d1d9;
  background-color: #1c2327;
  width: 100%;
  outline: #238636;
  width: 200px;
}
.tag-selector__angle {
  color: #238636;
  font-size: 3em;
  padding-bottom: 3px;
  padding: 0;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  display: none;
}

.tag-dropdown {
  height: 200px;
  overflow-y: scroll;
  width: 93%;
  position: absolute;
  top: 120%;
  left: 10px;
  background-color: #0d1117;
  z-index: 51;
  border: 1px solid #1c2327;
  border-radius: 0px 0px 10px 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

.tag-dropdown-element {
  background-color: #1c2327;
  padding: 2px 10px;
  border-radius: 7px;
  margin: 5px;
  font-size: 0.7em;
  height: 20px;
  display: flex;
  align-items: center;
}
.tag-dropdown-element--green {
  background-color: #238636;
}

.selected-tags {
  display: flex;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-left: 20px;
  max-height: 40px;
}

.tag-selected-element {
  background-color: #1c2327;
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid #01040a;
  border-radius: 7px;
  margin: 2px;
  font-size: 0.7em;
}
.tag-selected-element i {
  padding: 4px;
  color: #c9d1d9;
  background-color: #751b1b;
  border-radius: 0px 5px 5px 0px;
  margin-left: 5px;
}
.tag-search {
  display: flex;
  align-items: center;
  width: 100%;
}

.profile {
  color: #c9d1d9;
  margin-top: 20px;
  text-align: left;
  padding: 20px;
  width: 93%;
  background-color: #161b22;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: #0d1117;
  border-radius: 10px;
  border: 1px solid #1c2327;
}
.profile label {
  font-size: 0.8em;
}
.profile__disconnect {
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  padding: 2px 15px;
  border: 1px solid #751b1b;
  color: #751b1b;
  background-color: transparent;
  font-size: 0.5em;
}
.profile__infos {
  border: 1px solid #1c2327;
  padding: 10px;
  line-height: 1.3em;
  border-radius: 10px;
  margin: 20px auto;
  margin-top: 0px;
}
.profile__infos a {
  text-decoration: none;
  color: #3c73b2;
}
.profile__button {
  background-color: #238636;
  color: #c9d1d9;
  border: none;
  border-radius: 10px;
  padding: 15px;
}
.profile__boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.profile__box {
  border: 1px solid #1c2327;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  max-width: 400px;
  flex-basis: 30%;
}
.profile h1 {
  text-align: center;
  background-color: #1c2327;
  border: 1px solid #01040a;
  width: 80%;
  border-radius: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile h1 i {
  margin-right: 10px;
  padding: 20px 0px;
  background-color: #1c2327;
}
.profile h2 {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-top: 0px;
}
.profile h2 i {
  background-color: #1c2327;
  border: 1px solid #0d1117;
  padding: 7px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.profile__input-box {
  display: flex;
  flex-direction: column;
  color: #c9d1d9;
  margin-top: 20px;
  margin-bottom: 30px;
}
.profile__input-box input {
  background-color: #1c2327;
  border: 1px solid #161b22;
  color: #c9d1d9;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 10px;
  font-size: 0.9em;
  height: 50px;
}
.profile__actions {
  margin: 0 auto;
  padding: 50px;
  border: 1px solid #1c2327;
}
.profile__actions button {
  color: #c9d1d9;
  border: none;
  border-radius: 10px;
  padding: 15px;
}

.main-home-page {
  width: 100%;
  background-color: #0d1117;
}
@media screen and (max-width: 1200px) {
  .main-home-page {
    width: 100%;
  }
}

.main-browse-page {
  width: 98%;
  margin-top: 70px;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.144);
}
@media screen and (max-width: 768px) {
  .main-browse-page {
    padding-bottom: 3%;
  }
}

.main-upload-page {
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.144);
  padding-top: 1px;
  padding-bottom: 1px;
}

.main-upload-description {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}
.main-upload-description p {
  padding: 0;
  margin: 0;
  padding: 5px;
  border: 2px solid #161b22;
  background-color: #3c73b2;
  color: #c9d1d9;
}

.auth-page {
  padding-top: 70px;
  color: #c9d1d9;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-page {
  margin-top: 90px;
}

/*# sourceMappingURL=styles.css.map */
