.form-password {
  position: relative;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;

  & input {
    background-color: map-get($COLOR-PALETTE, prim);
    border: 1px solid map-get($COLOR-PALETTE, sec);
    color: map-get($COLOR-PALETTE, font);
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 0.9em;
    border-radius: 5px;
    width: 150px;
  }

  & label {
    position: absolute;
    visibility: hidden;
  }

  & button {
    width: 30px;
    height: 20px;
    background-color: map-get($COLOR_PALETTE, font4);
    color: white;
    border-radius: 5px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
  }
}
