.applied-tag {
  background-color: map-get($COLOR-PALETTE, prim);
  padding: 6px 10px;
  border-radius: 7px;
  margin-left: 5px;
  margin-right: 2px;
  font-size: 0.85em;
  border: 1px solid map-get($COLOR-PALETTE, bg);
  color: map-get($COLOR-PALETTE, font);
  cursor: pointer;
  transition: all 500ms;
  max-height: 30px;
}
