@keyframes appear-slowly {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes levitate {
  0% {
    opacity: 1;
    transform: translateY(+10px);
  }

  100% {
    opacity: 0.8;
    transform: translateY(-10px);
  }
}

@keyframes slideinout {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }

  30% {
    transform: translateX(-30px);
    opacity: 1;
  }

  85% {
    transform: translateX(-30px);
    opacity: 1;
  }

  100% {
    transform: translateX(100px);
    opacity: 0;
  }
}

@keyframes buzz {
  0% {
    transform: translateX(-6px);
    opacity: 0.9;
  }

  50% {
    transform: translateX(0px);
    opacity: 1;
  }

  100% {
    transform: translateX(6px);
    opacity: 0.9;
  }
}

@keyframes moveBackground {
  0% {
    // transform: skew(-7turn, 0);
    opacity: 0.95;
    transform: scale(1);
  }

  100% {
    transform: translateX(6px);
    // transform: skew(-0turn, 0);
    opacity: 1;
    transform: scale(1.1);
  }
}

@keyframes lds-ring-form {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
