.profile-page {
  margin-top: 90px;

  &__title {
    & h1 {
      text-align: center;
      background-color: map-get($COLOR_PALETTE, prim);
      border: 1px solid map-get($COLOR-PALETTE, sec);
      width: 75%;
      border-radius: 20px;
      margin: 0 auto;
      margin-bottom: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: map-get($COLOR-PALETTE, font);

      @include mobile-design {
        width: 95%;
        font-size: 1.5em;
      }

      & i {
        margin-right: 10px;
        padding: 20px 0px;
        background-color: map-get($COLOR_PALETTE, prim);
      }
    }
  }
}
