.button-base {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  cursor: pointer;
  border: 0;

  &:hover {
    transform: scale(1.01);
    opacity: 0.9;
  }
}

.nav-button-base {
  border: none;
  // color: darken(map-get($COLOR_PALETTE, font3), 10%);
  background-color: transparent;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 20px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  z-index: 10;
  color: map-get($COLOR-PALETTE, font);
  border: 2px solid map-get($COLOR-PALETTE, prim);
  @include mobile-design {
    // height: 100%;
    font-size: 0.7em;
  }

  & i {
    margin-right: 5px;
  }

  &--home {
    margin-left: 0;
    border-radius: 7px;
    padding: 5%;
  }

  &--colored {
    background-color: map-get($COLOR-PALETTE, font4);
    padding-left: 20px;
    padding-right: 20px;

    & i {
      margin: 0px;
      font-size: 1.2em;
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

.button-upload {
  position: relative;
  // margin: 10px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: map-get($COLOR_PALETTE, font4);
  color: white;
  min-width: 250px;
  // height: 80px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3em;
  border: 0;
  margin-top: 20px;
  margin-bottom: 20px;

  @include mobile-design {
    font-size: 1em;
    width: 25%;
    height: 50px;
  }
}

.button-reset {
  width: 5%;
  height: 30px;
  position: absolute;
  right: 1%;
  top: 1%;
  color: map-get($COLOR-PALETTE, error);
  background-color: transparent;
  border-radius: 15px;

  @include tablet-design {
    width: 15%;
    height: 45px;
  }
}

.button-home {
  position: relative;
  // margin: 10px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: map-get($COLOR_PALETTE, font4);
  color: white;
  min-width: 250px;
  // height: 80px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.3em;
  border: 0;

  & i {
    margin-right: 10px;
  }

  @include tablet-design {
    display: none;
  }
}

.button-browser {
  background-color: transparent;

  margin: 0px;
  & i {
    font-size: 1.5em;
    color: map-get($COLOR-PALETTE, font);
  }
}

.image-box-arrow {
  position: absolute;
  color: map-get($COLOR_PALETTE, font);
  cursor: pointer;
  border: none;
  background-color: transparent;
  z-index: 50;

  &:hover {
    opacity: 0.8;
  }

  &--left {
    left: 1%;
  }

  &--right {
    right: 1%;
  }
}
