.page-top-margin {
    margin: 0 auto;
    margin-top: 90px;

}

.image-box-top-margin {
    margin-top: 3vh;

    @include tablet-design {
        margin-top: 12vh;
    }
}

.nav-bar-height {
    height: 10vh;
}