.page-title {
  // border: 3px solid map-get($COLOR_PALETTE, font3);
  color: map-get($COLOR-PALETTE, font);
  font-size: 1.2em;
  padding-left: 10px;
  // width: 30%;
  // margin: 0 auto;
  // @include small-shadow;
  // margin-bottom: 2%;

  @include tablet-design {
    font-size: 1em;
  }
}

h1 {
  @include tablet-design {
    font-size: 2em;
  }

  @include mobile-design {
    font-size: 1.3 em;
  }
}

h2 {
  @include tablet-design {
    font-size: 1.5em;
  }

  @include mobile-design {
    font-size: 1em;
  }
}
