.api-response {
  &__message {
    margin: 0px;
    padding: 0px;
    // position: absolute;
    // top: 10px;
    // left: 50%;
    // transform: translateX(-50%);
    // width: 90%;
    font-size: 0.7em;
    max-width: 200px;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px auto;
    margin-bottom: 0px;

    &--success {
      color: map-get($COLOR-PALETTE, font4);
      border: 1px solid map-get($COLOR-PALETTE, font4);
    }

    &--error {
      color: map-get($COLOR-PALETTE, error);
      border: 1px solid map-get($COLOR-PALETTE, error);
    }
  }
}
