.main-browser {
  position: relative;
  display: flex;
  // width: 90%;
  height: 82vh;
  background-color: map-get($COLOR-PALETTE, ter);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  flex-wrap: wrap;
  border: 1px solid map-get($COLOR-PALETTE, prim);
  border-radius: 0px 0px 10px 10px;

  // padding-top: 2%;
  // margin-bottom: 2%;

  &__directory-path {
    // position: absolute;
    // top: 1%;
    // width:100%;
    display: flex;
    background-color: map-get($COLOR-PALETTE, ter);
    color: map-get($COLOR-PALETTE, font);
    // padding: 1%;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid map-get($COLOR-PALETTE, prim);
    margin: 0 auto;
    padding-left: 20px;

    &__button {
      margin-right: 20px;
      color: white;
      border: none;
      //   background-color: map-get($COLOR_PALETTE, font4);
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        opacity: 0.6;
      }
    }

    & span {
      margin: 10px;
      background-color: map-get($COLOR-PALETTE, prim);
      padding: 10px;
      padding-left: 10px;
      min-height: 20px;
      border-radius: 10px;
      max-height: 30px;
      animation: 300ms appear-slowly normal;

      width: 70%;
      text-align: left;
      overflow: hidden;
    }
  }

  &__no-results {
    font-size: 1.6em;
    color: map-get($COLOR-PALETTE, font);
  }

  // @include tablet-design {
  //   padding-top: 4%;
  // }

  // @include mobile-design {
  //   padding-top: 8%;
  // }
}
