.home-cities {
  //   position: absolute;
  top: 30%;
  width: 100%;
  background-color: map-get($COLOR-PALETTE, sec);
  right: 5%;
  border-bottom: 2px solid map-get($COLOR-PALETTE, prim);
  border-top: 2px solid map-get($COLOR-PALETTE, prim);

  &__title {
    // font-size: 0.8em;
    color: map-get($COLOR-PALETTE, font);
    padding-top: 50px;
    margin-top: 0px;
  }
  &__cards {
    //   background-color: rgba(0, 0, 0, 0.59);
    //   height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
  }
}
