.home-cards {
  width: 100%;
  background-color: map-get($COLOR-PALETTE, sec);
  right: 5%;
  border-bottom: 2px solid map-get($COLOR-PALETTE, prim);
  border-top: 2px solid map-get($COLOR-PALETTE, prim);

  &__title {
    color: map-get($COLOR-PALETTE, font);
    padding-top: 50px;
    margin-top: 0px;
  }
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
  }
}
