.error {
  color: map-get($COLOR_PALETTE, error);
}

.success {
  color: map-get($COLOR_PALETTE, success);
}

.main-image-upload {
  background-color: map-get($COLOR-PALETTE, ter);
  height: calc(86vh - 70px);

  @include mobile-design {
    height: unset;
  }

  @include medium-height {
    height: unset;
  }

  &__previews {
    height: 45%;

    background-color: map-get($COLOR_PALETTE, prim);
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 5px;
    margin-top: 3%;
    overflow-y: scroll;
    border-radius: 30px;
    @include medium-shadow;

    @include medium-height {
      height: 20vh;
    }

    @include mobile-design {
      height: 20vh;
    }

    &__title {
      font-size: 0.8em;
      color: map-get($COLOR_PALETTE, font);
    }

    &__box {
      margin: 1%;
      padding: 1%;
      display: flex;
      flex-wrap: wrap;

      &__element {
        flex-basis: 20%;
        overflow-y: hidden;
        position: relative;

        &__response {
          position: absolute;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          margin-top: 2%;
          width: 50px; /* Need a specific value to work */
        }

        & img {
          width: 50%;
          max-height: 100px;
          cursor: pointer;

          @include tablet-design {
            width: 90%;
          }

          &:hover {
            transform: scale(1.01);
            opacity: 0.9;
          }
        }
      }
    }
  }

  &__form-group {
    padding: 2%;
    width: 80%;
    position: relative;
    font-size: 18px;
    margin: 0 auto;

    transform: scale(1);
    transition-property: transform;
    transition-duration: 300ms;

    @include mobile-design {
      font-size: 0.7em;
      margin-bottom: 20px;
    }

    &:hover {
      transform: scale(1.005);
      opacity: 0.8;
    }

    & label {
      border: 3px dashed map-get($COLOR_PALETTE, font);
      background-color: map-get($COLOR_PALETTE, prim);
      width: 100%;
      height: 20vh;
      display: block;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color: map-get($COLOR_PALETTE, font);
      border-radius: 30px;
      margin-top: 20px;
      @include medium-shadow;
      @include small-height {
        height: 100px;
      }
      & i {
        margin-right: 2%;
      }
    }

    &__form-control {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  &__feedback {
    margin: 0;
    padding: 0;

    & span {
      font-size: 0.8em;

      &:first-child {
        margin-right: 30px;
      }

      & i {
        font-size: 1em;
      }
    }
  }
}
