.info-box {
  margin-bottom: 40px;
  text-align: left;
  opacity: 0.9;
  padding-left: 2%;
  padding-right: 2%;
  border-radius: 10px;
  border: 1px solid map-get($COLOR_PALETTE, prim);
  position: relative;
  background-color: white;
  padding-bottom: 30px;
  color: map-get($COLOR-PALETTE, font);
  background-color: map-get($COLOR-PALETTE, sec);

  @include tablet-design {
    position: relative;
    margin-bottom: 5%;
  }

  &__icon {
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    padding: 10px;
    background-color: map-get($COLOR-PALETTE, prim);
    border-radius: 10px;
    font-size: 1.5em;
    border: 1px solid map-get($COLOR_PALETTE, prim);
  }

  &__close {
    @include tablet-design {
      opacity: 0;
    }
  }

  & div {
    display: flex;
    justify-content: center;
    align-items: center;

    & form {
      margin: 1%;
    }
  }

  & img {
    border-radius: 10px;
    margin-top: 30px;
  }

  & h1 {
    background-color: map-get($COLOR_PALETTE, sec);
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 30px;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 24px;
    border-bottom: 1px solid map-get($COLOR-PALETTE, prim);
  }

  & a {
    color: map-get($COLOR_PALETTE, font3);
  }

  & p {
    font-size: 18px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
