.login {
  display: flex;
  flex-direction: column;
  padding: 50px;
  background-color: map-get($COLOR-PALETTE, ter);
  border-radius: 10px;
  border: 1px solid map-get($COLOR-PALETTE, prim);
  position: relative;

  @include mobile-design {
    padding: 20px;
  }

  &__password-loader {
    .lds-ring {
      width: 20px;
      position: absolute;
    }
  }

  &__error {
    border: 1px solid map-get($COLOR-PALETTE, error);
    color: map-get($COLOR-PALETTE, error);
    margin: 0px;
    padding: 0px;
    font-size: 0.7em;
    max-width: 200px;
    padding: 4px;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px auto;
    margin-bottom: 0px;
  }

  &__mention {
    border: 1px solid map-get($COLOR-PALETTE, prim);
    padding: 10px;
    line-height: 1.3em;
    max-width: 210px;
    border-radius: 10px;
    margin: 20px auto;
    margin-top: 0px;
    @include medium-shadow;

    & a {
      color: map-get($COLOR-PALETTE, font3);
    }
  }

  &__forget {
    position: relative;
    width: 80%;
    margin: 0 auto;
    & input {
      background-color: map-get($COLOR-PALETTE, prim);
      border: 1px solid map-get($COLOR-PALETTE, sec);
      color: map-get($COLOR-PALETTE, font);
      margin-top: 10px;
      padding-left: 10px;
      border-radius: 10px;
      font-size: 0.9em;
      border-radius: 5px;
    }

    & label {
      position: absolute;
      visibility: hidden;
    }

    & button {
      width: 30px;
      height: 20px;
      position: absolute;
      right: -5%;
      background-color: map-get($COLOR_PALETTE, font4);
      color: white;
      border-radius: 5px;
      border: none;
      border-radius: 0px 10px 10px 0px;
    }
  }

  & span {
    font-size: 0.7em;
    margin-left: 10px;

    & button {
      margin-left: 10px;
      border: 1px solid map-get($COLOR-PALETTE, font3);
      color: map-get($COLOR-PALETTE, font3);
      background-color: transparent;
      border-radius: 10px;
      padding: 3px;
    }
  }

  & a {
    font-weight: bold;
    text-decoration: none;
  }

  & h1 {
    margin: 0px;
    margin-bottom: 20px;

    & i {
      padding-right: 15px;
    }
  }

  & div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  & form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    & label {
      text-align: left;
      font-size: 0.7em;
    }

    & div {
      max-width: 250px;
      margin-bottom: 20px;

      & input {
        background-color: map-get($COLOR-PALETTE, prim);
        border: 1px solid map-get($COLOR-PALETTE, sec);
        color: map-get($COLOR-PALETTE, font);
        margin-top: 10px;
        padding-left: 10px;

        height: 40px;
        border-radius: 5px;
      }
    }

    & button {
      margin-top: 10px;

      margin-right: 0px;
      text-align: center;
    }
  }
}
