.random-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 1600px;
  background-color: map-get($COLOR_PALETTE, ter);

  &__title {
    color: map-get($COLOR-PALETTE, font);
    background-color: map-get($COLOR_PALETTE, ter);
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 30px;
  }

  &__image {
    max-width: 95%;
    height: 85vh;
    margin: 0 auto;
    margin-bottom: 80px;
    position: relative;
    border-radius: 20px;
    object-fit: cover;
    top: 0;
    left: 0;
    transform: none;
    @include big-shadow;

    @include tablet-design {
      height: 500px;
    }
  }

  &__roll-box {
    display: flex;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.489);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);

    @include mobile-design {
      bottom: 0%;
    }
  }

  &__roll {
    background-color: black;
    color: rgb(184, 95, 51);
    font-weight: bold;
    padding: 8px 4px;
    opacity: 0.55;
    border-radius: 10px;
    border: 1px solid map-get($COLOR-PALETTE, prim);
    min-width: 220px;
    font-size: 0.8em;

    @include mobile-design {
      min-width: 180px;
      font-size: 0.7em;
      opacity: 0.75;
    }
  }

  &__button {
    min-width: 100px;

    font-weight: bold;
    color: map-get($COLOR-PALETTE, font);
    background-color: map-get($COLOR-PALETTE, font4);
    border: 1px solid map-get($COLOR-PALETTE, prim);
    margin: 0 auto;
    font-size: 0.9em;
    margin-left: 10px;
    margin-right: 20px;
    opacity: 0.75;

    @include mobile-design {
      min-width: auto;
    }
  }
}
