.tag-selected-element {
  background-color: map-get($COLOR-PALETTE, prim);
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid map-get($COLOR-PALETTE, bg);
  cursor: pointer;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 20px;
  border-radius: 7px;
  margin: 2px;
  margin-left: 10px;
  font-size: 0.9em;
  // height: 20px;
  // flex-basis: 100%;
  // width: 150px;

  & i {
    padding: 4px;
    color: map-get($COLOR-PALETTE, font);
    background-color: map-get($COLOR-PALETTE, error);
    border-radius: 0px 5px 5px 0px;
    margin-left: 5px;
  }

  &--green {
    background-color: map-get($COLOR-PALETTE, font5);
  }
}
