.tag-dropdown {
  height: 200px;
  overflow-y: scroll;
  width: 93%;
  position: absolute;
  top: 120%;
  left: 10px;
  background-color: map-get($COLOR-PALETTE, ter);
  z-index: 51;
  border: 1px solid map-get($COLOR-PALETTE, prim);
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
