.tag-selected-element {
  background-color: map-get($COLOR-PALETTE, prim);
  padding-left: 10px;
  box-sizing: border-box;
  border: 1px solid map-get($COLOR-PALETTE, bg);
  white-space: nowrap;
  display: flex;
  align-items: center;
  // height: 20px;
  font-size: 0.9em;
  border-radius: 7px;
  margin: 2px;
  margin-left: 10px;
  // font-size: 1.1em;
  padding-top: 3px;
  padding-bottom: 3px;
  color: map-get($COLOR-PALETTE, font);
  // height: 20px;
  // flex-basis: 100%;
  // width: 150px;
  animation: appear-slowly 300ms normal;

  &--green {
    background-color: map-get($COLOR-PALETTE, font5);
  }

  &__close {
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    background-color: map-get($COLOR-PALETTE, prim);
    border: unset;
    & i {
      padding: 4px;
      color: map-get($COLOR-PALETTE, font);
      background-color: map-get($COLOR-PALETTE, error);
      border-radius: 0px 5px 5px 0px;
      margin-left: 10px;
    }
  }
}
