.tag-container {
  position: absolute;
  left: 5px;
  top: 10px;
  z-index: 50;
  padding: 5px;
  color: map-get($COLOR-PALETTE, font);
  font-weight: bold;
  border-radius: 10px;
  width: 93%;
  text-align: left;
  padding: 2px;
  display: flex;
  align-items: center;

  &__tags {
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__selector {
    background-color: map-get($COLOR-PALETTE, font4);
    font-size: 1em;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    color: map-get($COLOR-PALETTE, font);
    font-weight: bold;
    display: flex;
    align-items: center;
    border-radius: 5px;

    & i {
      font-size: 1.5em;
      margin-right: 10px;
    }
  }
}
