.tag-selector {
  // flex-basis: 20%;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  // &__search {
  //   position: relative;
  //   display: flex;

  //   & input {
  //     outline: map-get($COLOR-PALETTE, font4);
  //     width: 350px;
  //   }
  // }

  &__icon {
    // position: absolute;
    // right: 10px;
    display: flex;
    align-items: center;
    color: map-get($COLOR-PALETTE, font3);
    font-weight: bold;
    background-color: map-get($COLOR-PALETTE, prim);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px 0px 0px 10px;
  }
  &__search {
    margin: 10px;
    margin-right: 0px;
    display: flex;
    align-items: center;

    text-align: left;
    overflow: hidden;

    &__form {
      display: flex;
      &--buzz {
        animation: buzz 100ms alternate-reverse infinite;
      }
    }

    &__bar {
      padding-left: 10px;
      padding: 10px;
      border: None;
      color: map-get($COLOR-PALETTE, font);
      background-color: map-get($COLOR-PALETTE, prim);
      width: 100%;
      outline: map-get($COLOR-PALETTE, font4);
      width: 200px;
      transition: all 1s;
      border-radius: 0px 10px 10px 0px;
    }
  }

  &__angle {
    color: map-get($COLOR-PALETTE, font4);
    font-size: 3em;
    // padding-top: 3px;
    padding-bottom: 3px;
    // margin-right: 10px;
    padding: 0;
    border: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    display: none;
  }
}
