@mixin border-bottom-default {
    border-bottom: 1px solid lighten(map-get($COLOR_PALETTE, prim), 50%);
}


@mixin small-border-default {
    border: 1px solid map-get($COLOR_PALETTE, ter);
}

@mixin small-bottom-shadow {
    box-shadow: 0px 10px 30px 0px map-get($COLOR_PALETTE, shadow);
}

@mixin small-shadow {
    box-shadow: 0px 10px 20px 5px map-get($COLOR_PALETTE, shadow);
}

@mixin mobile-design {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-design {
    @media screen and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin wide-screen-design {
    @media screen and (min-width: map-get($breakpoints, wide-screen)) {
        @content;
    }
}