@keyframes appear-slowly {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  overflow-y: scroll;
}

.button-base {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  cursor: pointer;
  border: 0;
}
.button-base:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.nav-button-base {
  border: 3px solid #ffc231;
  color: #fdb200;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 20px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .nav-button-base {
    font-size: 0.7em;
  }
}
.nav-button-base--home {
  margin-left: 0;
  border-radius: 7px;
  padding: 5%;
}
.nav-button-base:hover {
  opacity: 0.7;
}

.button-upload {
  margin: 2%;
  margin-top: 20px;
  margin-bottom: 10px;
  background-color: #42be42;
  color: #f0f0f0;
  width: 20%;
  height: 70px;
  border-radius: 30px;
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  .button-upload {
    font-size: 1em;
    width: 25%;
    height: 50px;
  }
}

.button-reset {
  width: 5%;
  height: 30px;
  position: absolute;
  right: 1%;
  top: 1%;
  color: #c53333;
  border-radius: 15px;
}
@media screen and (max-width: 1200px) {
  .button-reset {
    width: 15%;
    height: 45px;
  }
}

.button-home {
  position: relative;
  margin: 10px;
  background-color: #98ca3e;
  color: white;
  width: 250px;
  height: 80px;
  border-radius: 30px;
  font-size: 1.3EM;
  border: 0;
}
@media screen and (max-width: 1200px) {
  .button-home {
    display: none;
  }
}

.button-browser {
  width: 4%;
}
@media screen and (max-width: 768px) {
  .button-browser {
    width: 10%;
  }
}

.image-box-arrow {
  position: absolute;
  color: #98ca3e;
  cursor: pointer;
}
.image-box-arrow:hover {
  opacity: 0.8;
}
.image-box-arrow--left {
  left: 1%;
}
.image-box-arrow--right {
  right: 1%;
}

.page-top-margin {
  margin: 0 auto;
  margin-top: 9vh;
}

.image-box-top-margin {
  margin-top: 3vh;
}
@media screen and (max-width: 1200px) {
  .image-box-top-margin {
    margin-top: 12vh;
  }
}

.nav-bar-height {
  height: 10vh;
}

.page-title {
  color: white;
  font-size: 1.6em;
  padding-left: 3%;
}
@media screen and (max-width: 1200px) {
  .page-title {
    font-size: 1em;
  }
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
  width: 95%;
  max-width: 1600px;
}
@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

.sub-container {
  width: 100%;
}

.sub-container2 {
  width: 100%;
  margin: 0 auto;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.modal-container {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0%;
  top: 0%;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #fffdfd;
  /* Black w/ opacity */
  opacity: 0.9;
}

.popup-container {
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 50%;
  top: 50%;
  width: 60%;
  /* Full width */
  height: 45%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: white;
  /* Black w/ opacity */
  opacity: 1;
  transform: translate(-50%, -50%);
  border: 7px solid #c53333;
  box-shadow: 5px 5px 15px 5px black;
}
.popup-container div {
  display: relative;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 95%;
}
.popup-container div i {
  padding: 4%;
  color: #c53333;
}
.popup-container div p {
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1.5em;
}
@media screen and (max-width: 1200px) {
  .popup-container div p {
    font-size: 1.2em;
  }
}
.popup-container div p:first-child {
  color: #c53333;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0.7%;
  left: 2%;
  width: 30%;
}

.App {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2046f2;
  background-color: #fafafa;
  opacity: 0.95;
  z-index: 90;
  width: 100%;
  box-shadow: 0px 10px 20px 5px rgba(211, 211, 211, 0.534);
  height: 6vh;
  border-bottom: 1px solid #d8d8d8;
}
@media screen and (min-width: 1400px) {
  .nav-bar {
    left: 0;
    right: 0%;
    margin: 0 auto;
  }
}
.nav-bar__logo-box {
  width: 160px;
  margin-left: 2%;
}
.nav-bar__logo-box:hover {
  opacity: 0.7;
}
.nav-bar__logo {
  color: #272727;
  text-decoration: none;
  width: 100%;
}
.nav-bar__button-box {
  margin: 20px;
  display: flex;
}

.close-menu-cross {
  color: #98ca3e;
  position: absolute;
  top: 1%;
  right: 2%;
  cursor: pointer;
}
.close-menu-cross:hover {
  opacity: 0.6;
}

.error {
  color: #c53333;
}

.success {
  color: #42be42;
}

.main-image-upload__previews {
  margin: 2%;
  background-color: #f0f0f0;
  position: relative;
  width: 80%;
  height: 40vh;
  margin: 0 auto;
  overflow-y: scroll;
}
.main-image-upload__previews__title {
  color: #585858;
}
.main-image-upload__previews__box {
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
}
.main-image-upload__previews__box__element {
  flex-basis: 20%;
  overflow-y: hidden;
  position: relative;
}
.main-image-upload__previews__box__element__response {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50px;
  /* Need a specific value to work */
}
.main-image-upload__previews__box__element img {
  width: 50%;
  max-height: 100px;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .main-image-upload__previews__box__element img {
    width: 90%;
  }
}
.main-image-upload__previews__box__element img:hover {
  transform: scale(1.01);
  opacity: 0.9;
}
.main-image-upload__form-group {
  padding: 2%;
  width: 80%;
  position: relative;
  font-size: 18px;
  margin: 0 auto;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 300ms;
}
.main-image-upload__form-group:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
.main-image-upload__form-group label {
  border: 5px dashed #272727;
  background-color: #f0f0f0;
  width: 80%;
  height: 20vh;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-image-upload__form-group label i {
  margin-right: 2%;
}
.main-image-upload__form-group__form-control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
.main-image-upload__feedback {
  margin: 0;
}

.main-image-box {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  min-height: 80%;
  height: 89vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background-color: white;
  align-items: center;
  border: 1px solid #ffc231;
  animation: appear-slowly 200ms linear;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.144);
}
@media screen and (max-width: 1200px) {
  .main-image-box {
    height: 50vh;
  }
}
.main-image-box__images-count {
  position: fixed;
  background-color: #ffc231;
  top: 1%;
  border-radius: 5px;
  z-index: 10;
  padding: 2px;
}
.main-image-box__filename {
  position: fixed;
  bottom: 1%;
}
.main-image-box__image-container {
  width: 90%;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-image-box__image-container img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  transition: transform 0.5s;
  z-index: 0;
}
@media screen and (max-width: 1200px) {
  .main-image-box__image-container img {
    max-width: 80%;
    max-height: 550px;
  }
}
@media screen and (max-width: 768px) {
  .main-image-box__image-container img {
    max-width: 70%;
    max-height: 350px;
  }
}

.main-home-informations {
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .main-home-informations {
    width: 100%;
  }
}
.main-home-informations__screenshot_title {
  color: #232323;
  border-radius: 20px;
  border: 1px solid grey;
  padding: 10px;
  background-color: white;
  position: absolute;
  opacity: 0.85;
  bottom: 5%;
  left: 50%;
  border: 3px solid #ffc231;
  color: #976a00;
  transform: translate(-50%);
}
.main-home-informations__screenshot_title:hover {
  transition: all 300ms linear;
  opacity: 1;
  color: #976a00;
  cursor: pointer;
}
@media screen and (max-height: 800px) {
  .main-home-informations__screenshot_title {
    display: none;
  }
}
.main-home-informations__image {
  width: 90%;
  max-height: 90%;
  max-width: 1600px;
  border-radius: 10px;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%);
  z-index: -1;
}
@media screen and (max-width: 1200px) {
  .main-home-informations__image {
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    max-height: 80vh;
  }
}
.main-home-informations__roll {
  position: absolute;
  bottom: 12%;
  background-color: black;
  color: #b85f33;
  font-weight: bold;
  padding: 10px;
  left: 50%;
  transform: translate(-50%);
  min-width: 200px;
  opacity: 0.85;
  border-radius: 10px;
  border: 1px solid white;
}
.main-home-informations__button {
  position: absolute;
  bottom: 8%;
  left: 50%;
  min-width: 220px;
  font-weight: bold;
  transform: translate(-50%);
  color: #b17c00;
  margin: 0 auto;
  font-size: 1.1em;
}
.main-home-informations__button:hover {
  transition: all 300ms linear;
  background-color: rgba(255, 255, 255, 0.507);
  color: #7e5800;
}
.main-home-informations__info-box {
  box-shadow: 100px 120px 100px 300px black;
  opacity: 0.9;
  margin: 40px;
  padding: 5%;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  position: relative;
  background-color: white;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.144);
}
@media screen and (max-width: 1200px) {
  .main-home-informations__info-box {
    position: relative;
    margin-bottom: 5%;
    border-radius: 0;
  }
}
@media screen and (max-width: 1200px) {
  .main-home-informations__info-box__close {
    opacity: 0;
  }
}
.main-home-informations__info-box div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-home-informations__info-box div form {
  margin: 1%;
}
.main-home-informations__info-box img {
  border-radius: 10px;
}
.main-home-informations__info-box h2 {
  color: #ffc231;
}
.main-home-informations__info-box a {
  color: #ffc231;
}
.main-home-informations__button-box {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1200px) {
  .main-home-informations__button-box {
    display: relative;
  }
}

.main-browser {
  position: relative;
  display: flex;
  height: 80vh;
  background-color: rgba(226, 226, 226, 0.363);
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  flex-wrap: wrap;
  border: 1px solid rgba(211, 211, 211, 0.637);
}
.main-browser__directory-path {
  display: flex;
  background-color: #ffc231;
  border-radius: 7px 7px 0px 0px;
  border: 2px solid rgba(211, 211, 211, 0.637);
  margin: 0 auto;
}
.main-browser__directory-path button {
  margin: 1%;
  margin-right: 2%;
  color: white;
  background-color: #98ca3e;
  cursor: pointer;
  border-radius: 5px;
}
.main-browser__directory-path button:hover {
  opacity: 0.6;
}
.main-browser__directory-path span {
  margin: 1%;
  background-color: white;
  padding: 1%;
  width: 70%;
  text-align: left;
  overflow: hidden;
}
@media screen and (max-width: 1200px) {
  .main-browser {
    padding-top: 4%;
  }
}
@media screen and (max-width: 768px) {
  .main-browser {
    padding-top: 8%;
  }
}

.main-browser-element {
  margin: 2%;
  display: block;
  cursor: pointer;
  flex-basis: 20%;
  transition-property: transform;
  transition-duration: 200ms;
  max-width: 20%;
}
@media screen and (max-width: 1200px) {
  .main-browser-element {
    flex-basis: 20%;
  }
}
@media screen and (max-width: 768px) {
  .main-browser-element {
    flex-basis: 80%;
    max-width: 80%;
  }
}
.main-browser-element:hover {
  transform: scale(1.03);
  opacity: 0.9;
}
.main-browser-element p {
  margin-top: 0;
  overflow: hidden;
}

.lds-ring {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lds-ring div {
  background-color: #98ca3e;
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.zoom {
  background-color: #98ca3e;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 31px;
  font-weight: bold;
  width: 30%;
  opacity: 1;
}
@media screen and (max-width: 1200px) {
  .zoom {
    display: none;
  }
}
.zoom:hover {
  opacity: 0.6;
}
.zoom:disabled {
  background-color: #ffc231;
  opacity: 1;
  cursor: default;
}
.zoom-magnify-glass {
  padding-left: 2%;
}
.zoom-magnify-glass--active {
  background-color: #ffc231;
}

.main-browse-page {
  width: 98%;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.144);
}
@media screen and (max-width: 768px) {
  .main-browse-page {
    padding-bottom: 3%;
  }
}

.main-upload-page {
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.144);
  padding-top: 1px;
  padding-bottom: 1px;
}

.main-upload-description {
  width: 90%;
  margin: 0 auto;
  margin-top: 1%;
}

/*# sourceMappingURL=styles.css.map */
