.button-base {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  cursor: pointer;
}
.button-base:hover {
  transform: scale(1.05);
  opacity: 0.9;
}

.nav-button-base {
  border: 3px solid #ffc231;
  color: #fdb200;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 20px;
  padding: 10px;
  font-size: 1em;
  cursor: pointer;
}
.nav-button-base:hover {
  opacity: 0.5;
}

.button-upload {
  margin: 2%;
  background-color: #42be42;
  color: #f0f0f0;
  width: 20%;
  height: 100px;
  border-radius: 30px;
  font-size: 2em;
}

.button-reset {
  width: 5%;
  height: 50px;
  background-color: #c53333;
  color: #f0f0f0;
  border-radius: 15px;
}

.button-home {
  margin: 2%;
  background-color: #98ca3e;
  color: white;
  width: 50%;
  height: 100px;
  border-radius: 30px;
  font-size: 2em;
}

.page-top-margin {
  margin-top: 130px;
}

.nav-bar-height {
  height: 70px;
}

.page-title {
  color: #98ca3e;
  font-size: 2em;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2046f2;
  background-color: #fafafa;
  opacity: 0.95;
  z-index: 90;
  width: 100%;
  box-shadow: 0px 10px 20px 5px rgba(211, 211, 211, 0.534);
  border-bottom: 1px solid #d8d8d8;
}
@media screen and (min-width: 1400px) {
  .nav-bar {
    left: 0;
    right: 0%;
    margin: 0 auto;
  }
}
.nav-bar__logo-box {
  width: 160px;
  margin-left: 2%;
}
.nav-bar__logo-box:hover {
  opacity: 0.7;
}
.nav-bar__logo {
  color: #272727;
  text-decoration: none;
  width: 100%;
}
.nav-bar__button-box {
  margin: 20px;
  display: flex;
}

.close-menu-cross {
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
}

.error {
  color: #c53333;
}

.success {
  color: #42be42;
}

.main-image-upload {
  margin: 2%;
}
.main-image-upload__previews {
  margin: 2%;
  background-color: #f0f0f0;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  overflow-y: scroll;
}
.main-image-upload__previews__title {
  color: #585858;
}
.main-image-upload__previews__box {
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
}
.main-image-upload__previews__box__element {
  flex-basis: 20%;
  overflow-y: hidden;
  position: relative;
}
.main-image-upload__previews__box__element__response {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50px;
  /* Need a specific value to work */
}
.main-image-upload__previews__box__element img {
  width: 50%;
  max-height: 100px;
  cursor: pointer;
}
.main-image-upload__previews__box__element img:hover {
  transform: scale(1.01);
  opacity: 0.9;
}
.main-image-upload__form-group {
  padding: 2%;
  width: 80%;
  position: relative;
  font-size: 18px;
  margin: 0 auto;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 300ms;
}
.main-image-upload__form-group:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
.main-image-upload__form-group label {
  border: 5px dashed #272727;
  background-color: #f0f0f0;
  width: 80%;
  height: 180px;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-image-upload__form-group label i {
  margin-right: 2%;
}
.main-image-upload__form-group__form-control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.main-image-box {
  display: flex;
  justify-content: center;
  width: 90%;
  max-height: 90%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(58, 58, 58, 0.144);
}
@media screen and (max-width: 1280px) {
  .main-image-box {
    top: 40%;
  }
}
.main-image-box img {
  width: 70%;
  margin: 2%;
}

.main-home-informations {
  width: 50%;
  margin: 0 auto;
}
.main-home-informations__info-box {
  margin: 40px;
  padding: 5%;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.144);
}
.main-home-informations__info-box img {
  border-radius: 10px;
}
.main-home-informations__info-box h2 {
  color: #ffc231;
}
.main-home-informations__info-box a {
  color: #ffc231;
}

/*# sourceMappingURL=styles.css.map */
