.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #2046f2;
  background-color: #fafafa;
  opacity: 0.95;
  z-index: 90;
  width: 100%;
  box-shadow: 0px 10px 20px 5px rgba(211, 211, 211, 0.534);
  border-bottom: 1px solid #d8d8d8;
}
@media screen and (min-width: 1400px) {
  .nav-bar {
    left: 0;
    right: 0%;
    margin: 0 auto;
  }
}
.nav-bar__nav-site {
  margin-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-bar__nav-site__nav-burger {
  display: none;
}
.nav-bar__nav-site__nav-burger:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1280px) {
  .nav-bar__nav-site__nav-burger {
    display: flex;
  }
}
.nav-bar__logo {
  color: #272727;
  text-decoration: none;
  width: 12%;
}
@media screen and (max-width: 1280px) {
  .nav-bar__logo {
    display: none;
  }
}
.nav-bar__search {
  display: flex;
  align-items: center;
}
.nav-bar__search-bar {
  height: 2em;
}
@media screen and (max-width: 590px) {
  .nav-bar__search-bar {
    display: none;
  }
}
.nav-bar__account {
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}
.nav-bar__account:hover {
  opacity: 0.7;
}
.nav-bar__account-pseudo {
  font-size: 0.8em;
  margin: 0;
}
.nav-bar__menu {
  width: 40%;
}
.nav-bar__menu__link-list {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  padding: 0%;
  text-align: center;
}
.nav-bar__menu__link-list button {
  border-color: white;
}
.nav-bar__menu__link-list li {
  cursor: pointer;
  border-radius: 50px;
}
.nav-bar__menu i {
  display: none;
}
@media screen and (max-width: 1280px) {
  .nav-bar__menu {
    width: 30%;
    position: absolute;
    left: 1%;
    z-index: 10;
    color: #272727;
    background-color: #fafafa;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.226);
  }
  .nav-bar__menu li:hover {
    color: #2046f2;
    border-bottom: 0;
  }
  .nav-bar__menu__link-list {
    display: block;
    justify-content: space-evenly;
    padding-top: 7%;
  }
  .nav-bar__menu__link-list button {
    text-align: center;
    width: 90%;
    border-radius: 5px;
    border-color: #6882f6;
    font-size: 1em;
    text-align: center;
  }
  .nav-bar__menu__link-list button:hover {
    border-color: #c9d2fc;
  }
  .nav-bar__menu i {
    display: block;
  }
  .nav-bar__menu--large {
    display: none;
    margin: 0;
  }
}
@media screen and (max-width: 590px) {
  .nav-bar__menu {
    width: 50%;
  }
}
.nav-bar__user {
  position: absolute;
  right: 0%;
  width: 13%;
  z-index: 10;
  color: #272727;
  background-color: #fafafa;
  border-radius: 20px;
  box-shadow: 0px 10px 20px 5px rgba(58, 58, 58, 0.226);
}
.nav-bar__user ul {
  width: 100%;
  padding: 0;
  padding-top: 15%;
}
.nav-bar__user li {
  cursor: pointer;
}
.nav-bar__user li button {
  text-align: center;
  border-color: #6882f6;
  width: 90%;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
}
.nav-bar__user li button:hover {
  border-color: #c9d2fc;
}
.nav-bar__user-button {
  margin: 0 auto;
}
.nav-bar__user-button button {
  border-color: white;
}
.nav-bar__user-button button:hover {
  border-color: #c9d2fc;
}
@media screen and (max-width: 1280px) {
  .nav-bar__user-button {
    text-align: center;
  }
}
@media screen and (max-width: 1280px) {
  .nav-bar__user {
    width: 25%;
    right: 3%;
  }
}
@media screen and (max-width: 590px) {
  .nav-bar__user {
    width: 40%;
  }
}

.close-menu-cross {
  position: absolute;
  top: 2%;
  right: 5%;
  cursor: pointer;
}

.error {
  color: #e93b3b;
}

.success {
  color: #3db43d;
}

.main-image-upload {
  margin: 2%;
}
.main-image-upload__button {
  margin: 2%;
  background-color: #3db43d;
  color: #f0f0f0;
  width: 20%;
  height: 100px;
  border-radius: 30px;
  font-size: 2em;
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  box-shadow: 0px 10px 30px 0px rgba(58, 58, 58, 0.226);
}
.main-image-upload__button:hover {
  transform: scale(1.05);
  opacity: 0.9;
}
.main-image-upload__button__reset {
  width: 5%;
  height: 50px;
  background-color: #e93b3b;
  color: #f0f0f0;
  border-radius: 15px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
  cursor: pointer;
}
.main-image-upload__button__reset:hover {
  transform: scale(1.15);
  opacity: 0.9;
}
.main-image-upload__previews {
  margin: 2%;
  background-color: #f0f0f0;
  width: 80%;
  height: 500px;
  margin: 0 auto;
  overflow-y: scroll;
}
.main-image-upload__previews__title {
  color: #585858;
}
.main-image-upload__previews__box {
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
}
.main-image-upload__previews__box__element {
  flex-basis: 20%;
  overflow-y: hidden;
  position: relative;
}
.main-image-upload__previews__box__element__response {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50px;
  /* Need a specific value to work */
}
.main-image-upload__previews__box__element img {
  width: 50%;
  max-height: 100px;
  cursor: pointer;
}
.main-image-upload__previews__box__element img:hover {
  transform: scale(1.01);
  opacity: 0.9;
}
.main-image-upload__form-group {
  padding: 2%;
  width: 80%;
  position: relative;
  font-size: 18px;
  margin: 0 auto;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 300ms;
}
.main-image-upload__form-group:hover {
  transform: scale(1.02);
  opacity: 0.8;
}
.main-image-upload__form-group label {
  border: 5px dashed #272727;
  background-color: #f0f0f0;
  width: 80%;
  height: 200px;
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-image-upload__form-group label i {
  margin-right: 2%;
}
.main-image-upload__form-group__form-control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}

.main-image-box {
  display: flex;
  justify-content: center;
  width: 90%;
  max-height: 90%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  background-color: white;
  box-shadow: 0px 10px 30px 0px rgba(58, 58, 58, 0.226);
}
@media screen and (max-width: 1280px) {
  .main-image-box {
    top: 40%;
  }
}
.main-image-box img {
  width: 70%;
  margin: 2%;
}

/*# sourceMappingURL=styles.css.map */
